@page
@model ProjektInzynierski.Pages.Exam.DeleteModel

@{
    ViewData["Title"] = "Usuń test";
    ViewData["Title"] = "Usuń test";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 class="display-4">Usuń test</h1>
<hr />
<h4 class="text-danger">Czy na pewno chcesz usunąć test?</h4>
<div>
    <h4>Test</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Test.CzyWidoczny)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Test.CzyWidoczny)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Test.DataUtworzenia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Test.DataUtworzenia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Test.DataRozpoczecia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Test.DataRozpoczecia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Test.DataZakonczenia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Test.DataZakonczenia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Test.Tytul)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Test.Tytul)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Test.Opis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Test.Opis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Test.CzasTrwania)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Test.CzasTrwania)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Test.IdGrupyNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Test.IdGrupyNavigation.Nazwa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Test.IdNauczyciela)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Test.IdNauczyciela)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Test.IdTest" />
        <div class="form-group mt-3">
            <input type="submit" value="Usuń" class="btn btn-delete" />
            <a class="btn btn-back ml-2" asp-page="./List">Powrót</a>
        </div>
    </form>
</div>
