@page
@model ProjektInzynierski.Pages.Exam.ExamPerformModel

@{
    ViewData["Title"] = "ExamPerform";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>ExamPerform</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RozwiazanieDoPytan[0].IdOdpowiedzNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RozwiazanieDoPytan[0].IdRozwiazanieNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RozwiazanieDoPytan) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdOdpowiedzNavigation.IdOdpowiedz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRozwiazanieNavigation.IdRozwiazanie)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdRozwiazanieDoPytan">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IdRozwiazanieDoPytan">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdRozwiazanieDoPytan">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
