@page
@model ProjektInzynierski.Pages.Exam.ExamListModel

@{
    ViewData["Title"] = "Aktywne testy";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 class="display-4">Aktywne testy</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Test[0].CzyWidoczny)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Test[0].DataUtworzenia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Test[0].DataRozpoczecia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Test[0].DataZakonczenia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Test[0].Tytul)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Test[0].Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Test[0].CzasTrwania)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Test[0].IdGrupyNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Test[0].IdNauczyciela)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Test) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CzyWidoczny)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataUtworzenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataRozpoczecia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataZakonczenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tytul)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CzasTrwania)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdGrupyNavigation.IdGrupy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNauczyciela)
            </td>
            <td>
                <a class="btn btn-edit" asp-page="./Edit" asp-route-id="@item.IdTest">Edytuj</a> |
                <a class="btn btn-details" asp-page="./Details" asp-route-id="@item.IdTest">Więcej</a> |
                <a class="btn btn-delete" asp-page="./Delete" asp-route-id="@item.IdTest">Usuń</a> |
            </td>
        </tr>
}
    </tbody>
</table>
