@page
@model ProjektInzynierski.Pages.Exam.ListModel

@{
    ViewData["Title"] = "Testy";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="display-4">Testy</h1>

    <p>
        <a class="btn btn-create" asp-page="Create">Create New</a>
    </p>

    @{
        var widocznosc = "Widoczność testu";
        var dataUtworzenia = "Data utworzenia";
        var dataRozpoczecia = "Data rozpoczęcia";
        var dataZakonczenia = "Data zakończenia";
        var tytul = "Tytuł";
        var opis = "Opis";
        var czasTrwania = "Czas trwania";
        var grupa = "Grupa";
        var pytania = "Pytania";
    }

    <table class="table">
        <thead>
            <tr>
                <th class="text-muted">@Html.DisplayFor(model => widocznosc)</th>
                <th class="text-muted">@Html.DisplayFor(model => dataUtworzenia)</th>
                <th class="text-muted">@Html.DisplayFor(model => dataRozpoczecia)</th>
                <th class="text-muted">@Html.DisplayFor(model => dataZakonczenia)</th>
                <th class="text-muted">@Html.DisplayFor(model => tytul)</th>
                <th class="text-muted">@Html.DisplayFor(model => opis)</th>
                <th class="text-muted">@Html.DisplayFor(model => czasTrwania)</th>
                <th class="text-muted">@Html.DisplayFor(model => grupa)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Test)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.CzyWidoczny)</td>
                    <td>@Html.DisplayFor(modelItem => item.DataUtworzenia)</td>
                    <td>@Html.DisplayFor(modelItem => item.DataRozpoczecia)</td>
                    <td>@Html.DisplayFor(modelItem => item.DataZakonczenia)</td>
                    <td>@Html.DisplayFor(modelItem => item.Tytul)</td>
                    <td>@Html.DisplayFor(modelItem => item.Opis)</td>
                    <td>@Html.DisplayFor(modelItem => item.CzasTrwania)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdGrupyNavigation.IdGrupy)</td>
                    <td>
                        <a class="btn btn-edit" asp-page="./Edit" asp-route-id="@item.IdTest">Edit</a> |
                        <a class="btn btn-details" asp-page="./Details" asp-route-id="@item.IdTest">Details</a> |
                        <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.IdTest">Delete</a> |
                        <a class="btn btn-create" asp-page="./AddQuestion" asp-route-id="@item.IdTest">Dodaj Pytanie</a>
                    </td>
                </tr>
                if (item.ListaPytan != null)
                {
                    <tr>
                        <td colspan="8">
                            <b>@Html.DisplayFor(x => pytania)</b>
                        </td>
                    </tr>
                    foreach (var pytanie in item.ListaPytan)
                    {
                        <tr>
                            <td colspan="8">
                                @Html.DisplayFor(x => pytanie.IdPytanieNavigation.Tresc)
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
