@page
@model TestTest.Pages.Question.IndexModel

@{
    ViewData["Title"] = "Pytania";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="display-4">Pytania</h1>

    <p>
        <a class="btn btn-create" asp-page="Create">Create New</a>
    </p>

    @{
        var katP = "Kategoria pytania";
        var emailN = "Email nauczyciela";
        var typP = "Typ pytania";
        var trescP = "Treść pytania";
    }

    <table class="table">
        <thead>
            <tr>
                <th class="text-muted">@Html.DisplayFor(model => trescP)</th>
                <th class="text-muted">@Html.DisplayFor(model => katP)</th>
                <th class="text-muted">@Html.DisplayFor(model => emailN)</th>
                <th class="text-muted">@Html.DisplayFor(model => typP)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Pytanie)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Tresc)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdKategoriaPytaniaNavigation.Nazwa)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdNauczycielaNavigation.Email)</td>
                    <td>
                        <a class="btn btn-edit" asp-page="./Edit" asp-route-id="@item.IdPytanie">Edit</a> |
                        <a class="btn btn-details" asp-page="./Details" asp-route-id="@item.IdPytanie">Details</a> |
                        <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.IdPytanie">Delete</a>
                    </td>
                </tr>
                if (item.Odpowiedz != null)
                {
                    <tr>
                        <td colspan="4"><b>Odpowiedzi</b></td>
                    </tr>
                    foreach (var answer in item.Odpowiedz)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => answer.TrescOdpowiedzi)</td>
                            <td>@Html.DisplayFor(model => answer.CzyPoprawny)</td>
                        </tr>
                    }
                }
                <tr>
                    <td colspan="3"></td>
                    <td>
                        <a class="btn btn-create" asp-page="/Answer/Create" asp-route-id="@item.IdPytanie">Dodaj odpowiedź</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
