@page
@model TestTest.Pages.IndexModel

@{
    ViewData["Title"] = "Zarejestrowani użytkownicy";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="display-4">Zarejestrowani użytkownicy</h1>

    <table class="table">
        <thead>
            <tr class="text-muted">
                <th>@Html.DisplayNameFor(model => model.User.FirstOrDefault().Email)</th>
                <th class="column1">@Html.DisplayNameFor(model => model.User.FirstOrDefault().PasswordHash)</th>
                <th>@Html.DisplayNameFor(model => model.User.FirstOrDefault().Name)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.User)
            {
                <tr class="text1">
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.PasswordHash)</td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>
                        <a class="btn btn-edit" asp-page="./Edit" asp-route-id="@item.IdOsoba">Edytuj</a> |
                        <a class="btn btn-details" asp-page="./Details" asp-route-id="@item.IdOsoba">Więcej</a> |
                        <a class="btn btn-delete" asp-page="./Delete" asp-route-id="@item.IdOsoba">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
