@page
@model TestTest.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="display-4">Index</h1>

    <p>
        <a class="btn btn-create" asp-page="Create">Utwórz</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th class="text-muted">Email</th>
                <th class="text-muted">Hasło</th>
                <th class="text-muted">Imię</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.User)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.PasswordHash)</td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>
                        <a class="btn btn-edit" asp-page="./Edit" asp-route-id="@item.IdOsoba">Edytuj</a> |
                        <a class="btn btn-details" asp-page="./Details" asp-route-id="@item.IdOsoba">Więcej</a> |
                        <a class="btn btn-delete" asp-page="./Delete" asp-route-id="@item.IdOsoba">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
