@page
@model TestTest.Pages.IndexStudentModel

@{
    ViewData["Title"] = "Strona główna";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 class="display-4">Witaj, @User.Identity.Name!</h1>

<div class="row mt-5">
    <div class="col-md-7 d-flex align-items-center justify-content-start">
        <div class="mt-1 button-container">
            @if (Model.Test.Any())
            {
                <button class="btn btn-big btn-lg btn-block" onclick="location.href='@Url.Page("Exam/ExamList")'">Zacznij rozwiązywanie testów</button>
            }
            <button class="btn btn-big btn-lg btn-block" onclick="location.href='@Url.Page("Exam/Marks")'">Przejdź do rozwiązanych testów</button>
        </div>
    </div>
    <div class="col-md-5 text-center">
        <div class="mt-1">
            @if (Model.Test.Any())
            {
                <h3>Testy, które niedługo zostaną zamknięte:</h3>
                <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr class="text-muted text-center">
                            <th>Tytuł</th>
                            <th>Rozpoczęcie</th>
                            <th>Zakończenie</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Test.Take(5))
                        {
                            <tr class="text1 text-center">
                                <td>@Html.DisplayFor(modelItem => item.Tytul)</td>
                                <td>@Html.DisplayFor(modelItem => item.DataRozpoczecia)</td>
                                <td>@Html.DisplayFor(modelItem => item.DataZakonczenia)</td>
                            </tr>
                        }
                    </tbody>
                </table>
                </div>
            }
            else
            {
                <p class="text2">Nie masz aktualnie żadnych testów do rozwiązania.</p>
            }
        </div>
    </div>
</div>
