@page
@model TestTest.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="display-4">Index</h1>

    <p>
        <a class="btn btn-create" asp-page="Create">Utwórz</a>
    </p>

    @{
        var email = "Email";
        var haslo = "Hasło";
        var imie = "Imię";
    }

    <table class="table">
        <thead>
            <tr>
                <th class="text-muted">@Html.DisplayFor(model => email)</th>
                <th class="text-muted">@Html.DisplayFor(model => haslo)</th>
                <th class="text-muted">@Html.DisplayFor(model => imie)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.User)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.Haslo)</td>
                    <td>@Html.DisplayFor(modelItem => item.Imie)</td>
                    <td>
                        <a class="btn btn-edit" asp-page="./Edit" asp-route-id="@item.IdOsoba">Edit</a> |
                        <a class="btn btn-details" asp-page="./Details" asp-route-id="@item.IdOsoba">Details</a> |
                        <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.IdOsoba">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
