@page
@model TestTest.Pages.IndexModel

@{
    ViewData["Title"] = "Zarejestrowani użytkownicy";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="display-4">Zarejestrowani użytkownicy</h1>

    <table class="table">
        <thead>
            <tr class="text-muted text-center">
                <th class="col-sm-2">@Html.DisplayNameFor(model => model.User.FirstOrDefault().Email)</th>
                <th class="col-sm-3">Hasło</th>
                <th class="col-sm-2">@Html.DisplayNameFor(model => model.User.FirstOrDefault().Name)</th>
                <th class="col-sm-2">@Html.DisplayNameFor(model => model.User.FirstOrDefault().Surname)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.User)
            {
                <tr class="text1 text-center">
                    <td class="col-sm-2">@Html.DisplayFor(modelItem => item.Email)</td>
                    <td class="col-sm-3">@Html.DisplayFor(modelItem => item.PasswordHash)</td>
                    <td class="col-sm-2">@Html.DisplayFor(modelItem => item.Name)</td>
                    <td class="col-sm-2">@Html.DisplayFor(modelItem => item.Surname)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
