@page
@model TestTest.Pages.KategorieModel

@{
    ViewData["Title"] = "Kategorie";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Kategorie</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KategoriaPytania[0].Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KategoriaPytania[0].Opis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.KategoriaPytania) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdKategoriaPytania">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IdKategoriaPytania">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdKategoriaPytania">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
