@page
@model TestTest.Pages.Answer.DeleteModel

@{
    ViewData["Title"] = "Usuń odpowiedź";
}

<h1 class="display-4">Usuń odpowiedź</h1>
<hr />
<h4 class="text-danger">Czy na pewno chcesz usunąć odpowiedź?</h4>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Odpowiedzi.TrescOdpowiedzi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Odpowiedzi.TrescOdpowiedzi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Odpowiedzi.CzyPoprawny)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Odpowiedzi.CzyPoprawny)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Odpowiedzi.IdOdpowiedz" />
        <div class="form-group mt-3">
            <input type="submit" value="Usuń" class="btn btn-delete" />
            <a class="btn btn-back ml-2" asp-page="Create"  asp-route-id="@Model.Odpowiedzi.IdPytanie">Powrót</a>
        </div>
    </form>
</div>
