@page
@model TestTest.Pages.Answer.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Odpowiedzi</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Odpowiedzi.Odpowiedz)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Odpowiedzi.Odpowiedz)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Odpowiedzi.CzyPoprawna)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Odpowiedzi.CzyPoprawna)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Odpowiedzi.IdPytaniaNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Odpowiedzi.IdPytaniaNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Odpowiedzi?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
