@page
@model TestTest.Pages.Answer.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Odpowiedzi[0].TrescOdpowiedzi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Odpowiedzi[0].CzyPoprawny)
            </th>
            <th>
                Pytanie
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Odpowiedzi) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrescOdpowiedzi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CzyPoprawny)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPytanieNavigation.Tresc)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdOdpowiedz">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IdOdpowiedz">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdOdpowiedz">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
