@page
@model ProjektInzynierski.Pages.Group.AddMembersModel

@{
    ViewData["Title"] = "AddMembers";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var imie = "imie";
    var nazwisko = "nazwisko";
    var email = "email";
}

<h1>AddMembers</h1>
@if (Model.wysUczniowie != null)
{
    
    <table class="table">
        <tr>
            <td>
                @Html.DisplayFor(x => nazwisko)
            </td>
            <td>
                @Html.DisplayFor(x => imie)
            </td>
            <td>
                @Html.DisplayFor(x => email)
            </td>
        </tr>
        @foreach(var uczen in Model.wysUczniowie){
            <tr>
                <td>
                    @Html.DisplayFor(m => uczen.Nazwisko)
                </td>
                <td>
                    @Html.DisplayFor(m => uczen.Imie)
                </td>
                <td>
                    @Html.DisplayFor(m => uczen.Email)
                </td>
                <td>

                    <a asp-page-handler="Delete" asp-route-idUcznia="@uczen.IdOsoba" asp-route-idGrupy="@ViewBag.idGrupy">Usuń ucznia</a>
                </td>
            </tr>
        }
    </table>
}
<h4>Uczestnicy</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-route-id="@ViewBag.idGrupy">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Uczestnicy.IdUcznia" class="control-label"></label>
                <select asp-for="Uczestnicy.IdUcznia" class ="form-control" asp-items="ViewBag.IdUcznia"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj ucznia" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
