@page
@model ProjektInzynierski.Pages.Group.AddMembersModel
@{
    ViewData["Title"] = "Dodaj ucznia do grupy";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 class="display-4">Dodaj ucznia do grupy</h1>

@if (Model.wysUczniowie != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Nazwisko</th>
                <th>Imię</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var uczen in Model.wysUczniowie)
            {
                <tr>
                    <td>@Html.DisplayFor(m => uczen.Nazwisko)</td>
                    <td>@Html.DisplayFor(m => uczen.Imie)</td>
                    <td>@Html.DisplayFor(m => uczen.Email)</td>
                    <td>
                        <a asp-page-handler="Delete" asp-route-idUcznia="@uczen.IdOsoba" asp-route-idGrupy="@ViewBag.idGrupy">Usuń ucznia</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<h4>Uczestnicy</h4>
<hr />

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form method="post" asp-route-id="@ViewBag.idGrupy">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Uczestnicy.IdUcznia" class="control-label">Wybierz ucznia</label>
                    <select asp-for="Uczestnicy.IdUcznia" class="form-control" asp-items="ViewBag.IdUcznia"></select>
                </div>
                <div class="form-group mt-3">
                    <input type="submit" value="Dodaj ucznia" class="btn btn-new" />
                    <a class="btn btn-back ml-2" asp-page="List">Powrót</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
